/* MovieDetails.css */

.no-movie-selected {
  font-size: 1.5rem;
  color: #333;
  margin: 20px;
}

/* .movie-details-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
} */

.movie-poster {
  width: 100%;
  max-height: 700px;
  /* object-fit: cover; */
  margin-top: 10px;
  padding: 60px;
}

.movie-plot {
  font-size: 1.1rem;
  color: aliceblue;
  margin-top: 10px;
  padding: 20px;
}
.movie-Year {
  font-size: 1.1rem;
  color: aliceblue;
  margin-top: 10px;
}

.movie-details-container h2 {
  font-size: 50px;
  margin-bottom: -50px;
  color: aliceblue;
  margin-left: 10px;
  text-align: left;
  font-family: serif;
  padding :30px;
}

.movie-details-container p {
  font-size: 35px;
  color: aliceblue;
  font-family: serif;
  margin: 2px 0;
  padding :20px;
  
}

.ri-add-fill-icon1 {
  position: absolute;
  top: 640.5px;
  left: 900px;
  width: 180px;
  height: 150.1px;
  overflow: hidden;
  padding: 100px;
}
.types {
  top: 800px;
  left: 150.6px;
  box-sizing: border-box;
  width: 180.5px;
  height: 40.6px;
  padding: 7.203596591949463px 46.82338333129883px;
  border: 1.8px solid tomato;
}
.action {
  position: relative;
  font-weight: 900;
  color: tomato;
}
.types,
.types1,
.types2,
.types3 {
  position: absolute;
  border-radius: 22.51px;
  background-color: rgba(72, 13, 13, 0);
  border: 1.1px solid #da3714;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.types1,
.types2,
.types3 {
  top: 800px;
  left: 400.2px;
  padding: 7.503746509552002px 30.014986038208008px;
}
.types2,
.types3 {
  top: 800px;
  left: 850.2px;
}
.types3 {
  left: 670.2px;
  padding: 7.203596591949463px 46.82338333129883px;
}

.more-like-this {
  position: absolute;
  top: 1252px;
  left: 121px;
  font-weight: 600;
  font-family: poppins;
  color: aliceblue;
}
.maylike
{
  color: aliceblue;
  font-size: 50px;
  margin-bottom: -30px;
  /* color: aliceblue; */
  margin-left: 10px;
  /* text-align: left; */
  font-family: serif;
}



